$def with (page, contents)


<h2>Content for Page: $page</h2>
<a href="/admin/page/$page/content/add">Add Entry</a>
<h3>Entries:</h3>
<ol>
    $for content in contents:
    <li>$content.title
    <div class="actions">
        $if content.draft:
            <span>Unpublished</span> |
        $else:
            <span>Published</span> |
        <a href="/admin/page/$content.page/content/$content.id">Edit</a> |
        <a href="/admin/page/$content.page/content/$content.id/delete">Delete</a>
    </div>
    </li>
</ol>
