$def with (content)

<!DOCTYPE html>
<html>
<head>
    <title>jkeillor.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css" media="screen" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '$:content.ga']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>


<div class="sidebar">
    <h1>Jeremy Keillor</h1>
    <ul class="horizontal">
    $:content.pgs
    </ul>

</div>
<div class="links">
    <ul>
        <li><a href="https://twitter.com/jkeillor">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/jeremykeillor">LinkedIn</a></li>
        <li><a href="https://instagram.com/jkeillor">Instagram</a></li>
        <li><a href="https://github.com/jkeillor">Github</a></li>
    </ul>
</div>

$:content
</body>
</html>